.forget{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background-color: blueviolet;
}
.forget1{
        border: 2px solid black;
        width: 35%;
        height: 70vh;
        margin: auto;
        margin-top: 100px;
        border-radius: 10px;
        background-image: url(C:\Users\DELL\Downloads\logini.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4px 4px 10px;
}
.forget1 h1{
    text-align: center;
    margin-top: 50px;
}
.forget1 input{
    margin-top: 50px;
    margin-left: 20px;
    width: 90%;
    height: 60px;
    font-size: 20px;
    border: 2px solid rgb(128, 128, 216);
}
.forget1 button{
    margin-top: 100px;
    margin-left: 190px;
    width: 25%;
    height: 50px;
    background-color: blueviolet;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}